@media screen and (max-width: 768px) {
    .blogpost {
        padding: 1.5rem;
    }

    .blog-card {
        padding: 0.5rem;
    }

    .blog-card h3 {
        font-size: 18px;
    }

    .blog-card p {
        padding: 0 0.5rem 1rem;
    }

    .nested-card-wrapper {
        padding: 0.5rem;
    }

    .nested-card {
        padding: 0.5rem;
    }

    .nested-card p {
        font-size: 12px;
    }

    .footer {
        padding: 0.5rem;
    }

    .footer p {
        font-size: 16px;
    }

    .author img {
        width: 100px;
        height: 100px;
    }

    .author .details {
        font-size: 16px;
    }

    .social-sharing button {
        padding: 0.5em 1em;
        font-size: 14px;
    }

    .blog-content h2 {
        font-size: 20px;
    }
}
